@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Company Basics</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href= "@Url.Action("Create", "Company", new {  })">Create New Company &raquo;</a></p>
        @*<li>@Html.ActionLink("Search Company", "Index", "Company")</li>*@
    </div>
</div>